//= require designsystem.min.css
//= require timeline.css

$AU-color-background: #313131;
$primary-color: #45C2F0;
$gray: #808080;

body {
    margin: 0;
}
.au-body {
    h2 {
        font-weight: 300;
    }
}

.au-header.au-header--dark,
.au-footer.au-footer--dark {
    background-color: $AU-color-background;
    border: none;
}
.au-header.au-header--dark {
    border-bottom: 8px solid $primary-color;
    box-shadow: 0 0 5px 0 #7F7F7F;
    position: relative;
}
.au-footer.au-footer--dark {
    margin-top: 2em;
}

.au-header__heading {
    
}
.au-footer--dark .au-footer__end {
    border-top-color: $gray;
}
.au-header--dark .au-header__brand .au-header__brand-image+.au-header__text {
    border: none;
}

#hero {  
    background: url(/assets/images/style-manual-books.jpg) no-repeat center;
    background-size: cover;
    min-height: 250px;
    margin-bottom: 2em;
}

#collaborators {
    background: #EBEBEB;
    padding: 3em 0;
    margin: 2em 0 4em;

    img {
        width: auto;
        max-height: 130px;
        margin: 1em;
    }
}

#dta-initiative {
    img {
        max-width: 64px;
    }
}

#timeline {
    height: 500px;
}
.tl-attribution {
    display: none;
}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline,
.tl-text .tl-headline-date, .tl-text h3.tl-headline-date {
    color: #666;
}
.tl-text p {
    color: #313131;
}
.tl-timeline p {
    font-size: unset;
}

#non-interactive-timeline {
    img {
        max-height: 200px;
        box-shadow: 0 2px 4px #999;
        padding: 4px;
        margin-right: 1em;
        float: left;
    }
}

.text-centered {
    text-align: center;
}
.mt-2 {
    margin-top: 2em;
}
.mt-4 {
    margin-top: 4em;
}
.mt-5 {
    margin-top: 5em;
}
.mb-2 {
    margin-bottom: 2em;
}
.mb-4 {
    margin-bottom: 4em;
}
.mb-5 {
    margin-bottom: 5em;
}

/* sm */
@media (min-width: 768px) {
    .au-header__brand .au-header__brand-image {
        max-width: 200px;
        border-right: 1px solid $gray;
        padding-right: 1em;
    }
    .au-header__brand .au-header__brand-image+.au-header__text {
        margin-left: 220px;
        margin-top: 0.5em;
        float: none;
    }
}

/* md */
@media (min-width: 992px) {}

/* lg */
@media (min-width: 1200px) {}